.breaking_line{
    height: 1px;
    background-color: gray;
    margin-top: .8rem;
}
.details_description{
    font-size:1.1rem;
}
.details_product_price{
    font-weight: 500;
    color: blue;
    font-size: 2rem;
}
.details_form_container input{
    width: 100%;
    padding: .4rem 1rem;
    margin-bottom: 1rem;
    outline:none;
}
.details_form_container input:last-child{
    background-color: #e52165;
    color: white;
    font-size: 1.1rem;
    border: 1px solid #e52165;
    border-radius: 3px;
    padding: .5rem;
}
.details_form_container input:last-child:hover{
    background-color: white;
    color: #e52165;
    transition: all .3s ease-out;
}
.details_brand_name{
    color: blueviolet;
}

.loading_spinner{
    text-align: center;
    padding: 10rem 0rem;
}
.loading_spinner div{
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
}