


.footer_main_container{
    background-color: #0f0f0f;
    padding-top: 3rem;
    padding-bottom: 0px;
}
.footer_container p{
    color: #4b5063;
    cursor: pointer;
    font-size: 18px;
}
.footer_container p:hover{
    color: white;
    transition: .4s ease-out;
}
.footer_container h3{
color: #33567d;
}
/* */

.footer_copyright{
    background-color: black;
    color: #4b5063;
    text-align: center;
    border-top: 1px solid #24212f ;
    padding: 1.5rem 0rem;
    margin-bottom: 0px;
}